/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* unplugged index.html mobile first */
/** {
  outline: 3px dotted Red;
  default font stack-
  font-family: 'Open Sans', sans-serif;
  h1 and input: poppins, helvetica, arial, open sans
  h2, h3, h4 - font-family: 'Poppins', sans-serif;
}*/


body {
  font-size: 16px;
  color: #e2e3ed;
  width: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
body p{
  font-size: .875rem;
  line-height: 1.125rem;
}

/*   Base Header - Footer Styles  */

header,
footer {/*parent*/
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;/*why do i need these?*/
  background-color: #202322;
  text-align: center;
}


/*          Header Styles          */

header {
 
}


header .content-wrapper {/*child*/
  /*skillcush: */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap 

}

/*controls logo image*/
header a {
  /* kelly: display: flex;
  justify-content: center;
  align-items: center;*/
}

header img {
  width: 60%;
  margin-top: 15px;
  
  border-bottom: #3a3a3a 2px solid;
  padding: 0px 30px 10px 30px;
}

header nav {
  display: flex;
  width: 55%;
  
  /*skillcrush:*/
  justify-content: space-around;
  align-items:center;
  flex-flow: row wrap;

  /* kelly:
  justify-content: space-evenly;*/
}

header ul {
  width: 90%;
  padding: 0px;
  display: flex;
  /*skillcrush:*/
  justify-content: space-around;
  /*kelly:
  justify-content: space-evenly;*/
  
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0px;
  
}

header li {
  /*display: flex;*/
  /*child for flexbox*/
  /*justify-content: space-between;*/
  font-size: 1.125rem;
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
  color: #e2e3ed;
}

header nav a {
  text-decoration: none;
  color: #e2e3ed;
}

/*          Footer Styles       */

footer {
  
}

footer .contact-wrapper {
  margin: 50px 0px;
}

footer .footer-content {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px 0px 50px 0px;
  
}

footer .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

footer h4 {
  margin: 20px 0 20px 0;
 
}

footer p {
}

footer .social {
  display: flex;/*child? need to center things inside*/
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*skillcrush:
footer .social-icons p{
  display: flex;
  justify-content: center;
  align-items: center;
}*/

footer .copywrite {
}

footer .copywrite p {}


/*          Main Styles          */

main {
  border-top: #3a3a3a 3px solid;
}

.hero-area {
  background: url(../img/unplugged-retreat.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main .content-wrapper {
  width: 90%;
  margin: auto;
}

main h1 {
  margin: 0px;
  font-size: 2.25rem;
  line-height: 43px;
  font-family: 'Poppins', helvetica, arial, sans-serif;
  font-weight: 500;
  padding-top: 2em;
}
/*skillcrush
.hero-area{
  display: flex;
  justify-content:center;
  flex-flow: row wrap;
}

/*          Main-Aside Styles          */

aside {
  background: #527158;
  /*skillcrush:
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;*/
}

aside .content-wrapper {
  /*parent flex*/
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

aside .form-description {
  /*child to content-wrapper, parent to h3 & p*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
}

aside h3 {
  /*display: flex;*/
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  
}

aside p {
  font-size: .875rem;
  line-height: 1.125rem;
}

aside .form {
  /*child*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1.5em;
}

aside input {
  width: 100%;
  padding: 2px;
  text-transform: uppercase;
  color: #2a423a;
  font-size: 1.125rem;
  font-weight: 500;
}

/*          Main Section: Features Styles          */

.features {
  /*skillcrush:
  display:flex;
  justify-content:center;
  flex-flow:row-wrap;*/
  background: url(../img/unplugged-retreat-features.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.features article{
  margin: 18px 0 18px 0;
}

.features .content-wrapper {
  width: 90%;
}

.features .features-items {/*parent*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*skillcrush: flex-flow: row wrap;*/
  margin: auto;
  width: 60%;
  
}

.features-items article{
  display: flex;
  text-align: center;
  /*
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;*/
}
.features h2{
  margin-top: 0px;
}

section p .fontawesome-icon {}

section .features p {
 
}
.fontawesome-icon .features-items-description{
  
}

/*          Main Section: Reviews Styles          */
/*skillcrush:
.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row-wrap;
}*/

section.reviews {
  background: #2a423a;
  padding:0px 0px 50px 0px;
}
section .reviews .content-wrapper{
  
}
h2 {
  padding-top: 50px;
}

section .reviews article{
  display: flex; /*parent*/
  
}

section article div {
  display: flex;
  flex-wrap: wrap; /*child*/

}
.reviews h2{
  margin-top: 0px;
}
.reviews p {
  margin:18px 0px 18px 0px;
}


/* --ABOUT PAGE -- Unplugged index.html for mobile first */
.mission{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  background: #527158;
  border-bottom: #5f7162 solid 3px;
  border-top: #5f7162 solid 3px;
}
main{
  border-top: none;
}

.mission p{
  margin:0;
}


.contact-content{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

/* --FAQ PAGE -- Unplugged index.html for mobile first */
.faq{
 background:#527158;
}

.faq .content-wrapper{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px){
  /*Tablet Styles Here*/
  /*home page*/
  header .content-wrapper{
    display:flex;
    flex-flow: row nowrap;
    width: 640px;

  }
  header nav{
    display: flex;
    justify-content: flex-end;
  }
  header ul{
    
    justify-content: flex-end;
    
    padding-left: 5em;
  }
  header a{
    width: 40%;
    padding-right: 2em;
    margin: 33px 0px;
    display: flex;
    justify-content: flex-start;
  }
  header img{
    border: none;
    padding-left: 0px;
  }
  .hero-area .content-wrapper{
    width: 640px;
  }
  aside .content-wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 640px;
  }
  aside .form-description{
    width: 40%;
    margin: auto;
    padding: 50px 0px 50px 0px;
    margin-left: 0px;
  }
  aside .form{
    width: 40%;
    margin: auto;
    margin-right: 0px;
  }
  .features .content-wrapper{
    width: 640px;
  }
  .features .features-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
  }
  .features article{
    width: 31%;
    margin: 30px 10px;
  }
  .reviews .content-wrapper{
    width: 640px;
  }
  footer .contact-wrapper{
    width: 640px;
    margin-bottom: 10px;
    margin-top: 100px;
  }
  footer .footer-content{
    display: flex;
    flex-flow: row wrap;
  }
  footer .contact,
  footer .social{
    width: 30%;
  }

  /* About Page */
  .mission .content-wrapper{
    width: 640px;
  }
  .mission-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .mission-content p{
    width: 43%;
  }
  .contact .content-wrapper{
    width: 640px;
  }
  .contact-content h2{
    width: 80%;
  }
  .contact-content{
    align-items: flex-start;
    justify-content: space-between;
  }
  .contact-content div{
    width: 40%;
  }
  /* FAQ page */
.faq .content-wrapper{
  width: 640px;
  justify-content: space-between;
}
.faq h2{
width: 100%;
}
.faq-content{
  flex-basis: 40%;

}
}

@media only screen and (min-width:1200px){
  /*Desktop Styles Here*/
  /* index.html page */
  header .content-wrapper, 
  .hero-area .content-wrapper,
  aside .content-wrapper,
  .features .content-wrapper,
  .reviews .content-wrapper,
  footer .contact-wrapper{
    width: 960px;
  }
  h1{
    width: 70%;
  }
  aside .content-wrapper{
    display: flex;
    justify-content: space-around;
  }
  aside .form-description,
  aside .form{
    flex-basis: 30%;
    margin-left: auto;
    margin-right:auto;
  }
  .features .h2{
    width: 90%;
  }
  .features-items article{
    flex-basis: 20%;
  }
  footer .footer-content{
    justify-content: space-between;
  }
  footer .contact,
  footer .social{
    flex-basis: 20%;
    
  }

  /* about page */
  .mission .content-wrapper,
  .contact .content-wrapper{
    width: 960px;
  }
  .mission p{
    flex-basis: 45%;
  }


  /* faq page */
  .faq .content-wrapper{
    width: 960px;
  }
}
      



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}